# Dependencies
node_modules/
backend/venv/
backend/.venv/
.venv/
venv/

# Env
.env
backend/.env
frontend/.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
